<button >
  Add Idea
</button >
<%= simple_form_for Idea.new do |f| %>
  <%= f.input :description %>
  <%= f.input :author %>
  <%= f.submit 'Submit' %>
<% end %>


<% @ideas.each do |idea| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <blockquote>
        <p><%= idea.description %></p>
        <small>by <%= idea.author %></small>
      </blockquote>
      <br>
      <%= link_to 'Remove', idea_path(idea), method: :delete %>
      <%= link_to 'Revise', edit_idea_path(idea) %>
    </div>
  </div>
<% end %>

<div class = "text-center">
  <%= will_paginate @ideas %>
</div>